<div
  class="pt-4 pb-4 text-xl px-[5%] lg:px-[15%] flex flex-col-reverse gap-2 md:gap-0 md:flex-row items-center md:justify-between md:bg-slate-200/20 shadow"
>
  <span class="text-white/90 sm:text-center"
    ><a
      rel="noreferrer noopener"
      target="_blank"
      href="https://maiten-dev.vercel.app"
      class="hover:underline">by maiten</a
    >
  </span>
  <ul
    class="flex flex-wrap items-center mt-3 font-medium text-white/90 sm:mt-0"
  >
    <li class="text-center">
      <a href="#" class="hover:underline me-4 md:me-6">Inicio</a>
    </li>
    <li>
      <a href="#experience" class="hover:underline me-4 md:me-6">Experiencia</a>
    </li>
    <li>
      <a href="#about" class="hover:underline me-4 md:me-6">Sobre mí</a>
    </li>
    <li>
      <a href="#contact" class="hover:underline me-4 md:me-6">Contacto</a>
    </li>
  </ul>
</div>
